.realizar-reserva {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  gap: 2em; 
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: center;
}

.column-calendar {
  justify-content: center;
  flex: 1; 
}

.column-calendar-inner{
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  align-items: center;
}

.home-button.selected {
  background-color: #4f77fb; 
  color: white;
}
