@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './layout/index.scss';
@import './nav-bar/index.scss';
@import './lightbulb-page/index.scss';

//imports de los estilos scss de los componentes
@import './home-page/index.scss';
@import './ver-noticias-page/index.scss';
@import './pagar-gastos-cuentas-page/index.scss';
@import './metodo-pago-page/index.scss';
@import './pago-exitoso-page/index.scss';


html, body {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Open Sans', sans-serif;
}
