.nav-bar__link {
  display: inline-block;
  padding: 1.4em;
  color: white;
  text-decoration: none;
  
  &--active {
    background: rgba(120, 201, 234, 0.626);
    color: white;
  }

  &:hover {
    color: rgb(173, 211, 255);
  }
}
